/.env
/var/*
/locale/*.po~
/projects.yml
/redirects.yml
/services.yml
/config/nginx-templates/*
/config/nginx/*
/config/php-pool-templates/*
!/config/nginx/default.conf
!/config/nginx-templates/default-*.conf
!/config/nginx-templates/default.conf
!/config/php-pool-templates/php56-default.conf
!/config/php-pool-templates/php73-default.conf
!/config/php-pool-templates/php74-default.conf
!/config/php-pool-templates/php81-default.conf
!/config/php-pool-templates/php83-default.conf
