.env
var/solr/*
var/grafana/*
var/influxdb/*
var/sites/*
var/mysql/*
var/mysql5/*
var/postgres
var/postgres/*
config/exim/exim.conf
config/users/*.conf
!config/users/default.conf
!config/users/drupal8.conf
!config/users/drupal7.conf
!config/users/phpmyadmin.conf
config/crontabs/*
config/ssh/*
config/letsencrypt/*
config/php-pool-templates/*
!config/php-pool-templates/php7-default.conf
!config/php-pool-templates/php73-default.conf
!config/php-pool-templates/php5-default.conf
!config/php-pool-templates/phpmyadmin.conf
!config/ssh/.keep
!var/mysql/.keep
!var/mysql5/.keep
!config/crontabs/.keep
!config/letsencrypt/.keep
!var/solr/.keep
!var/sites/.keep
!var/grafana/.keep
!var/influxdb/.keep
