test:
  uid: 100000
  active: true
  password: $6$cHWmq0P4$gp112G/qzxUrsyz6JYONqrSZ7vl24KMAdO9zV1eS.L0NdwfV3lGDYA9LbeFiSQQ8xgdcGi2l8m7xNKNFJfwta.
  domains:
    - test.test
  volume: 0
  nginx_template: drupal8
  nginx_block: ''
  root_folder: test.test/web
  https: disabled
  backend: php
  backend_version: '81'
  gunicorn_app_module: ''
  redirect: false
  gzip: true
  nginx_options:
  auth_locations: {  }
  ftps: {  }
  duplicity_filters:
  memcached: false
  solr: false
  elastic: false
  mysql_db: true
  mysql5_db: false
  postgresql_db: false
  backup: false
