webcrate:
  domain: webcrate.test
  nginx_config: default
  port: 80
  https: disabled
  mysql_db: yes
  mysql5_db: no
  postgresql_db: no
synapse:
  domain: synapse.test
  nginx_config: default
  port: 8008
  https: openssl
  mysql_db: no
  mysql5_db: no
  postgresql_db: yes
synapse-admin:
  domain: synapse-admin.test
  nginx_config: default
  port: 80
  https: disabled
  mysql_db: no
  mysql5_db: no
  postgresql_db: no
phpmyadmin:
  domain: phpmyadmin.test
  nginx_config: default
  port: 8080
  https: disabled
  mysql_db: no
  mysql5_db: no
  postgresql_db: no
phppgadmin:
  domain: phppgadmin.test
  nginx_config: default
  port: 80
  https: disabled
  mysql_db: no
  mysql5_db: no
  postgresql_db: no
doctohtml:
  domain: doctohtml.test
  nginx_config: default
  port: 3000
  https: disabled
  mysql_db: no
  mysql5_db: no
  postgresql_db: no
htmltopdf:
  domain: htmltopdf.test
  nginx_config: default
  port: 3000
  https: disabled
  mysql_db: no
  mysql5_db: no
  postgresql_db: no
grafana:
  domain: grafana.test
  nginx_config: default
  port: 3000
  https: disabled
  mysql_db: no
  mysql5_db: no
  postgresql_db: no
solr:
  domain: solr.test
  nginx_config: default
  port: 8983
  https: disabled
  mysql_db: no
  mysql5_db: no
  postgresql_db: no
