admin:
  domain: webcrate.test
  port: 80
  https: disabled
  mysql_db: yes
  mysql5_db: no
  postgresql_db: no
phpmyadmin:
  domain: phpmyadmin.test
  port: 80
  https: disabled
  mysql_db: no
  mysql5_db: no
  postgresql_db: no
phppgadmin:
  domain: phppgadmin.test
  port: 8080
  https: disabled
  mysql_db: no
  mysql5_db: no
  postgresql_db: no
doctohtml:
  domain: doctohtml.test
  port: 3000
  https: disabled
  mysql_db: no
  mysql5_db: no
  postgresql_db: no
htmltopdf:
  domain: htmltopdf.test
  port: 3000
  https: disabled
  mysql_db: no
  mysql5_db: no
  postgresql_db: no
grafana:
  domain: grafana.test
  port: 3000
  https: disabled
  mysql_db: no
  mysql5_db: no
  postgresql_db: no
