test:
  uid: 100000
  password: $6$YYat8G8McjwES7R9$60HCvVeJOAvPts5LdMuz39zSWK.Dov14bvyNB6Hen/R.kBXOHUPFWq27eJsR/.8kXdOC5EEc47W6l.D3sY09k/ #test
  domains:
    - test.test
    - test2.test
  nginx_config: default #default = default-php-user.conf
  root_folder: data #e.g. data/web
  https: disabled
  backend: php
  backend_version: 73 #php version 7 = 7.x, 73 = 7.3.x, 5 = 5.6.x
  gunicorn_app_module:
  mysql_db: yes
  mysql5_db: no
  postgresql_db: no
  backup: yes
testdjango:
  uid: 100001
  password:
  domains:
    - testdjango.test
  nginx_config: default #default = default-gunicorn-user.conf
  root_folder: app/www
  https: disabled
  backend: gunicorn
  backend_version:
  gunicorn_app_module: app:app
  mysql_db: no
  mysql5_db: no
  postgresql_db: yes
  backup: no
