{% extends 'base.html.twig' %}

{% block title %}Webcrate - software versions{% endblock %}
{% block javascripts %}
    <script type="module" src="{{ asset('build/header.js') }}"></script>
    <script type="module" src="{{ asset('build/admin.js') }}"></script>
{% endblock %}

{% block body %}
    <script>
        var user = '{{ app.user ? app.user.email : '' }}';
    </script>
    <div id="header"></div>
    <div id="app"></div>
{% endblock %}
